<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">This is my timeline.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2014- December 2022</h4>
                                    <h4 class="subheading">Carl Hart Bicycles</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working as a bicycle mechanic, I quickly developed a love for mechanical systems. This job is where it all began—honing my critical thinking skills while saving money for my dream of going to college.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2019- May 2024</h4>
                                    <h4 class="subheading">Accepted to Stony Brook University!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Attending the #1 public university in New York State was an honor. In addition to my coursework, I was actively involved on campus, serving as a member of the Marching Band and the Solar Racing Team. I stayed busy throughout university and was proud to graduate debt-free.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2022 - December 2022</h4>
                                    <h4 class="subheading">Machinist at AGC Machine Corp.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Working as a machinist, I had the great opportunity to help manufacture parts for aerospace applications. It was incredibly valuable to see what goes into the manufacturing process and to understand the challenges and limitations of conventional methods. An added benefit of this job was gaining experience with SolidWorks and MasterCam software, which gave me a deeper understanding of design for manufacturing.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Chair Lift Mechanic at Windham Mountain Club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Continuing my love for mechanical systems, I worked on literal miles of them as a chair lift mechanic. Whether swapping vital bearings 30 meters above the ground, diagnosing faults in hydraulic systems, or troubleshooting noisy signals in electrical cabinets, I learned to think on my feet and resolve issues in integrated systems within a professional setting.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of My
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>